table {
  border-collapse: collapse;
}
td {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px dotted #fff; /* Cercle amb punts blancs */
  background-color: #000; /* Fons negre o pot ser un altre color */
  display: inline-block;
  margin: 10px;
  color: white;
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
}
.botonOculto {
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}
.player1 {
  background-color: red; /* Color vermell per un dels jugadors */
}
.player2 {
  background-color: yellow; /* Color groc per l'altre jugador */
}
.buid {
  background-color: white; /* Color blanc per cercles buits */
  border-color: #000; /* Puntes negres per millor visibilitat */
}
